<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.gp.airtel</string>
    <key>Program</key>
    <string>/Users/gp/Projects/airtel-usage/airtel.py</string>
    <key>WorkingDirectory</key>
    <string>/Users/gp/Projects/airtel-usage</string>
    <key>RunAtLoad</key>
    <true />
    <key>LaunchOnlyOnce</key>
    <false />
</dict>
</plist>
